* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: cadetblue;
    animation: color-me-in 5s infinite;
}

@keyframes color-me-in {
    50% {
        background: #64e4ed;
    }

    50% {
        background: #025721;
    }

    50% {
        background: #01232e;
    }

    50% {
        background: #64e4ed;
    }
}

footer {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
    gap: 50px;
    color: white;
    background-color: black;
    font-size: 18px;
}

.search {
    display: flex;
    width: 600px;
    height: 50px;
    font-size: 18px;
}

.search-input {
    width: 70%;
}


.search-button {
    width: 30%;
}

.img-gallery {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.img-gallery img{
    width: auto;
    height: 350px;
}

.github {
    height: 70px;
}

.rs-school-js {
    height: 53px;
}

footer a:hover {
    filter: invert(52%) sepia(37%) saturate(5857%) hue-rotate(165deg) brightness(99%) contrast(98%);
}