* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: linear-gradient(#eee, #aaa);
}

.field {
    position: relative;
    width: 602px;
    height: 602px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #03A1D1;
}

.cell {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid #03A1D1;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    color: #03A1D1;
}

.cell:hover {
    cursor: pointer;
    color: #03a1d12a;;
}

.checked {
    cursor: default;
}

.checked:hover {
    cursor: default;
    color: #03A1D1
}

.line-through, .line-through:hover {
    color: #BD2026;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.btn-next {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-transform: uppercase; 
}

.btn-next:hover {
    background-color: #03A1D1;
    color: black;
}


.history-list {
    position: absolute;
    top: 0; 
    left: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

footer {
    height: 20%;
    min-height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
    gap: 50px;
    color: white;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.history-list > div {
    margin-bottom: 15px;
}

.history-list > div:nth-of-type(2) {
    margin-bottom: 45px;
    color: green;
}

.github {
    width: 130px;
    height: 70px;
}

.rs-school-js {
    height: 53px;
}

footer a:hover {
    filter: invert(52%) sepia(37%) saturate(5857%) hue-rotate(165deg) brightness(99%) contrast(98%);
}