:root {
    --color-dark: #000000;
    --color-gold: #BDAE82;
    --color-white: #FFFFFF;
    --font-inter: 'Inter', Arial, 'Helvetica', sans-serif;
    --font-merriweather: 'Merriweather', 'Times New Roman', 'Times', serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-dark);
}

.container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
    outline: 1px solid var(--color-white);
}

.button-cta {
    width: 220px;
    height: 55px;
    margin-top: 25px;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-dark);
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
}

.button-cta:hover {
    color: var(--color-white);
}

.button-shadow {
    width: 220px;
    height: 55px;
    margin-top: 25px;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    border: 2px solid var(--color-gold);
    background-color: transparent;
    cursor: pointer;
}

.button-shadow:hover {
    color: var(--color-white);
}


/* Header */

.header {
    background-image: url('./assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    padding: 20px;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    list-style: none;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

.nav-link {
    font-style: var(--font-inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--color-gold);
}

.lang {
    margin: 0;
    font-style: var(--font-inter);
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    color: var(--color-white);
}

.lang-link {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

.lang-link:hover {
    color: var(--color-gold);
}

.lang-link.active {
    color: var(--color-gold);
}

.lang-divider {
    margin-right: 8px;
    margin-left: 8px;
}

.hero {
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-container {
    /* display: flex;
    flex-direction: column; */
    padding-top: 160px;
    padding-right: 860px;
    padding-bottom: 230px;
    margin-left: 80px;
}

.main-title {
    margin: 0;
    font-family: var(--font-merriweather);
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 40px;
}



